<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>PPAP</title>
	

</head>
<body>
<script type="text/javascript"
		src="../../static/js/jquery-3.2.0.min.js"
		th:src="@{/js/jquery-3.2.0.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	$(document).ready(function(){
		$("#ppap_btn").click(function(){
			// fragment(html)取得
			$.ajax({
				type : "GET",
				url : "ajax/ppap",
				dataType : "json",
				success : function(responseData, status, xhttp) {
					// div#resultBoxへ結果(HTML)を反映
					alert(responseData.toString());
				},
				error : function(XMLHttpRequest, status, errorThrown) {
					// エラー処理
					alert(XMLHttpRequest.toString());
				}
			});
		});
	});
/*]]>*/
</script>

	<button id="ppap_btn">PPAP</button>
</body>
</html>