<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>PPAP</title>
	

</head>
<body>
<script type="text/javascript"
		src="../../static/js/jquery-3.2.0.min.js"
		th:src="@{/js/jquery-3.2.0.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	$(document).ready(function(){
		$("#ppap_btn").click(function(){
			$.ajax({
				type : "GET",
				url : "ajax/ppap",
				dataType : "json",
				contentType: 'application/json', 
				success : function(responseData, status, xhttp) {
					$("#ppap").text(responseData.toString());
				},
				error : function(XMLHttpRequest, status, errorThrown) {
					// エラー処理
					alert(XMLHttpRequest.responseText);
				}
			});
		});
		
		$("#concat_btn").click(function(){
			var data = {
					"value1":"aaa"
					,"value2":"bbb"
					};
			$.ajax({
				type : "POST",
				url : "ajax/concat",
				data : JSON.stringify(data),
				dataType : "json",
				contentType: 'application/json', 
				success : function(responseData, status, xhttp) {
					$("#concat").text(responseData.toString());
				},
				error : function(XMLHttpRequest, status, errorThrown) {
					// エラー処理
					alert(XMLHttpRequest.responseText);
				}
			});
		});
	});
/*]]>*/
</script>

	<button id="ppap_btn">PPAP</button>
	<h1 id="ppap"></h1>
	<br/>
	<button id="concat_btn">concat</button>
	<h1 id="concat"></h1>
</body>
</html>